---
layout: 'deck_unit'
title: "Recap: Three Questions"
tags: []
description: "This section provides a recap of the first lecture on knowledge of physical objects by raising three questions."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

- qq = {}
- qq.q1 = 'How do humans come to meet the three requirements on knowledge of objects?'
- qq.q2 = 'What is the relation between the principles of object perception and infants’ looking behaviours?'
- qq.q2a = 'Given that the simple view is wrong, what is the relation between the principles of object perception and infants’ competence in segmenting objects, object permanence and tracking causal interactions?'
- qq.q2b = 'The principles of object perception result in ‘expectations’ in infants.  What is the nature of these expectations?'
- qq.q3 = 'What is the relation between adults’ and infants’ abilities concerning physical objects and their causal interactions?'

+slide_middle
  .notes As today's lecture builds directly last weeks' lecture on knowledge of physical objects, let me start with a recap.
  p.center recap: three questions

+slide
  .notes.handout Knowledge of objects depends on abilities to (i) segment objects, (ii) represent them as persisting and (iii) track their interactions.
  p Three requirements
  ul
    li segment objects
    li represent objects as persisting
    li track objects’ interactions
  .notes.handout \emph{Question 1}  #{qq.q1}
  .notes Until quite recently it was held, following Piaget and others, that these three abilities appeared relatively late in development.  
  .notes However, as we saw last week, more recent investigations provide strong evidence that all three abilities are present in humans from around four months of age or earlier.  
  .notes Infants' looking behaviours indicate that they have expectations concerning segmentation, persistence and causal interactions.  
  .notes.handout \emph{Discovery 1} Infants manfiest all three abilities from around four months of age or earlier.

+slide
  .notes We also saw that infants' abilities to segement objects, represent them as persisting and track their causal 
    | interactions can be described by appeal to a single set of principles, 
    | the principles of cohension, boundedness, rigidity and no action at a distance.
  .notes This suggests that 
    .handout \emph{Discovery 2} Although abilities to segment objects, to represent them as persisting through occlusion and  to track their causal interactions are conceptually distinct, they may all be consequences of a single mechanism (in humans and perhaps in other animals).
  .notes Spelke suggests, further, that these principles of object perception explain infants' looking behaviours.
  .notes This means we must ask
    .handout \emph{Question 2} #{qq.q2}
  p Principles of Object Perception
  ul
    li cohesion
      span.step2.grey-text —‘two surface points lie on the same object only if the points are linked by a path of connected surface points’
    li boundedness
      span.step3.grey-text —‘two surface points lie on distinct objects only if no path of connected surface points links them’
      // … the boundedness principle implies that … two distinct objects cannot interpenetrate.’
    li rigidity
      span.step4.grey-text —‘objects are interpreted as moving rigidly if such an interpretation exists’
    li no action at a distance
      span.step5.grey-text —‘separated objects are interpreted as moving independently of one another if such an interpretation exists’
  p.right (Spelke 1990)

+slide_middle
  .notes In answer to Q2, I suggested that we start with the simple view.  
  .notes.handout The \emph{simple view} is the view that 
    | the principles of object perception are things that we know, and we generate expectations from these principles by a process of inference.
  .notes The attraction of the simple view is that it promises to explain infants' sensitivity to objects' boundaries, their persistence and their causal interactions as manifested in a variety of looking behaviours.
  p.center the simple view

+slide
  .notes The problem for the simple view is that it makes exactly the wrong prediction about infants' reaching behaviours.
  .notes This problem arises twice, once for object permanence and again for causal interactions.
  .notes In the case of object permanence, the problem is 
    | that four and five month old infants appear to be surprised when a solid object is placed behind a drawbridge 
    | and then the drawbridge rotates back 180 degrees as if the object wasn't there.  
    | But if you put a desirable object behind a screen, these infants won't ever search behind the screen for the object. 
    | So if we measure their looking behaviours, they seem to know that an object is behind the screen; 
    | but if we measure their searching behaviours they seem not to know this.
  div.brightness-150
    +img_clip('baillargeon_1987_fig1.png', 'rect(237px,320px,550px,0px)')
  p.source Baillargeon et al (1987, figure 1)

section.slide
  .notes The problem for the simple view is that it correctly predicts looking behaviours but not searching behaviours.
  .notes This problem arises a second time in the case of infants' abilities to track causal interactions.
  .notes Suppose you roll a ball down this ramp and remove it from behind one of the doors.
  .notes You can predict where the ball will stop because you can see this barrier sticking up here.
  .notes 2 and 2.5 year olds will look longer if you remove it from any door other than the right one.
  .notes These children and infants can also predict the location of the object (not just identify a violation, but look forward to where the object is) \citep{mash:2006_what}.
  .notes But if you ask them to remove the ball (and offer them a reward for doing so), 
    | the two year olds will typically choose a favourite door to open every time regardless of where the barrier is  
    | (incidentally this is not random but seems to be based on momentum \citep{perry:2008_representational}), 
    | and the 2.5 year olds will choose a door adjacent to the barrier but do not prefer the door on the correct side of the barrier.
  img.bkg(src='/img/slide_lecture04_014.jpg')
  .notes The failure to reach is a problem for the simple view because it predicts that children will correctly retrieve the ball.

+slide_middle
  .notes.handout \emph{Discovery 3}  The simple view generates systematically false predictions (about reaching).
  .notes So we have to reject it.
  .notes We were led to the simple view by Question 2, What is the relation between the principles of object perception and infants' looking behaviours?
  .notes.handout \emph{Question 2a} #{qq.q2a}
  .notes Infants abilities to segment objects, represent them as persisting and to track their causal interactions involve what many researchers call 'expectations'.
  .notes What  is the nature of these expectations?  On the simple view, these expectations are knowledge states or beliefs.  But the systematic discrepancies between looking and searching provides compelling evidence that they are not.
  .notes So what are these expectations?
  .notes.handout \emph{Question 2b} #{qq.q2b}
  p.center.line-through the simple view

  
+slide_middle
  .notes We'll see later that the problem is quite general.
  .notes It doesn't arise only in the case of knowledge of objects but also in other domains (like knowledge of number and knowledge of mind).
  .notes And it doesn't arise only from evidence about infants or nonhuman primates; it would also arise if our focus were exclusively on human adults.
  .notes More on this later.
  .notes For now, our aim is to consider proposed solutions to the problem.
  p.center generality of the problem


+slide_middle
  p.center why?
  .notes Why is this important?
  .notes The discovery of infant abilities presents us with a dilemma.
  .notes If we follow researchers like Michael Tomasello in dismissing infants' abilities to focus on social interactions, culture and language, we miss something important about the origins of knowledge.  We will miss the fact that coming to know things about physical objects (and colours, and mind and more besides) involves multiple layers of representation.
  .notes But if we follow researchers like Spelke and Baillargeon is discussing infants' abilities as if they were based on knowledge, belief and inference, we will also miss something important about the origins of knowledge.  We will miss the fact that infants' abilities, although essential for later developments, are only indirectly related to the knowledge of physical objects that adult humans enjoy.
  .notes The challenge is to avoid this dilemma, to provide a theoretical framework that will allow us to understand how infants' abilities support the emergence of knowledge without themselves amounting to knowledge.



+slide_middle
  .notes Before attempting to answer these questions, I want to throw in a new one.
  .notes.handout \emph{Question 3} #{qq.q3}
  p.center one more question

section.slide
  p.em-above &nbsp;
  .container_12
    .grid_3
      p.center infant
    .grid_3
      p &nbsp;
    .grid_3
      p &nbsp;
    .grid_3
      p.center adult
  .clear
  p &nbsp;
  .container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3.slide
      +colour-ball('yellow', '50')
    .grid_3.slide
      +colour-ball('yellow', '75')
    .grid_3.slide
      +colour-ball('yellow', '100')
  .clear
  .container_12
    .grid_3
      p &nbsp;
    .grid_3
      p.center social interaction
    .grid_3
      p.center language
    .grid_3
      p &nbsp;
  .clear
  p &nbsp;
  .slide.container_12
    .grid_3
      +colour-ball('yellow', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '25')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '50')
    .grid_3
      +colour-ball('yellow', '25')
      +colour-ball('cyan', '100')
  .words: .container_12: .grid_12
    p(style='margin-top:-50px;') time --->    


+slide
  .notes So we have the three questions on your handout that we are trying to answer.
  p questions
  p.em-above #{qq.q1}
  p.em-above.noblur #{qq.q2a}
  p.em-above #{qq.q2b}
  p.em-above #{qq.q3}
  +blur('p:not(.noblur)')
  .notes I'll start by focussing on this question; it's the key to answering the others.

+slide
  .notes In outline, this is what we'll do.
  p outline
  ol
    li discount non-solutions
    .notes Non-solutions matter because they give us a better understanding of the questions.
    li.slide introduce core knowledge (= modularity) 
      span.slide and criticisms of it
    li.slide defend core knowledge by appeal to computational processes
    li.slide interim summary
    li.slide perception of causation (the launching effect in adults)
    li.slide object indexes (attention)
    li.slide perceptual expectations 
    li.slide summary & conclusion

